<div align="center">
<table class="ui table users">
    <thead>
    <tr>
      <th>id</th>
      <th></th>
      <th>Пользователь</th>
      <th>Имя бота</th>
      <th align="right">
          <button class="ui get button" (click)="onGetUsers()">Запросить данные</button>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td #checkItemId>{{user.id}}</td>
      <td><a href="./app/app.component.user.message.html" target="_blank"><img src="./mess.png" width="30" height="30" alt="lorem"></a></td>
      <td>{{user.userName}}</td>
      <td>{{user.botName}}</td>
      <td>
        <!--button class="ui btn send">Отправить</button-->
        <input type="checkbox" class="ui item select" (click)="addItem(user.id,checkItem.checked)" #checkItem/>
      </td>
    </tr>
  </tbody>
</table>

<div align="center" *ngIf="items.length > 0">
    <h3>Текст сообщения</h3>
    <textarea name="comment" cols="40" rows="3" #messageText></textarea>
<p>
    <button class="ui send message button" (click)="sendMessage(messageText)">Отправить</button>
    <button class="ui clear message button" (click)="clearMessage(messageText)">Очистить</button>
</p>

</div>

</div>